.tb-card-img{
    width:280px;
    height:180px;
}

.tb-card{
    width: 280px;
}

body {
   background-image: none;
}

.tb-button{
    background-color: #FFB34F;
    color: black;
    border-color: black;
}

.tb-button:hover{
    background-color: #FFB000;
    color: black;
}